.logoImg{
    
    height:4rem;
    width:6rem;
    
    
}

.Navbar{
    height: 6rem;
    width: 100vw;
    background-color: black;
    color: aqua;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index:3;
}

.Contactbtn{
    padding:5px;
    background-color: white;
    border-radius: 5px;

}

.menuItem{
    margin:1rem;
    cursor: pointer;
}

.menuItem:hover{
color:yellow;
padding:0.5rem;
border-bottom: 5px solid yellow;
}